{% extends "base.html" %}

    {{ form.as_p }}
        {% block content %}
            <table>
                <th>id</th>
                <th>name</th>
                <th>model</th>
                <th>manufacturer</th>
            {% for k in a %}
                <tr>
                    <td>{{ k.device }}</td>
                    <td><a href="#" onclick="showDescription({{ k.device }})">{{ k.name }}</a></td>
                    <td>{{ k.model }}</td>
                    <td>{{ k.manufacturer }}</td>
                </tr>
            {% endfor %}
            </table><br/>
            <form action="/add">
                <input type="submit" value="Lisa uus seade">
            </form>
            <form action="/seadme_otsing">
                    <input type="submit" value="Seadme otsing">
            </form>
            <form action="/service_order">
                    <input type="submit" value="Service order">
            </form>


        {% endblock content %}
