{% extends "client_base.html" %}
{% block content %}
    <table>
    <tr>
        <th></th>
        <th>Nimi</th>
        <th>Model</th>
        <th>Manufacturer</th>
        <th>Description</th>
        <th>Reg number</th>
        <th></th>
    </tr>
        {% for k in device_query %}
           <tr>
               <td>{{ k.device }}</td>

            <td>{{ k.name }}</td>
            <td>{{ k.model }}</td>
            <td>{{ k.manufacturer }}</td>
            <td>{{ k.description}}</td>
            <td>{{ k.reg_no}}</td>
            <td><a href="#" onclick="lisaMarkus({{ k.device }})">lisa märkus</a> </td>
           </tr>
        {% endfor %}
    </table><br/><br/>
    <form id="ajax-form" style="display:none" method="get">
        <input type="hidden" id="service-request">
        <label>
            Description<br/>
            <textarea id="desc-input"></textarea>
        </label>
        <button type="submit" id="save_note">Send</button>

    </form>

    {% for p in a %}
        <b>Tootaja :</b>
        {{ p.service_desc_by_employee }}<br/>
    {% endfor %}
{% endblock content %}
